<div id="dashboard"
    class="pt-2 md:grid md:grid-cols-12 min-h-[80%] pb-10 flex flex-wrap justify-around bg-opacity-70 bg-zinc-100 dark:bg-zinc-900 dark:bg-opacity-70">
    <!-- search, create and view past posts -->
    <div id="options" class="col-span-3">

        <!-- individual post -->
        {{#each entries as |entry|}}
        <a href="../dashboard/{{id}}"
            class="rounded flex flex-wrap justify-between bg-gray-200 hover:bg-gray-300 dark:bg-gray-800 dark:hover:bg-sky-900 transition-all mx-2 my-1"
            id={{id}}>
            <div class="px-2 py-2 flex flex-col">
                <p class="text-gray-900 dark:text-gray-300">{{title}}</p>
                <p class="text-gray-900 dark:text-gray-300">{{
                    format_date createdAt }}</p>
            </div>
            <div class="px-2 py-2 my-auto">
                <button data-id={{id}}
                    class="deleteBtn rounded-full border-red-600 font-semibold bg-red-700 text-gray-50 dark:bg-gray-300 dark:text-red-700 px-2 mr-2 hover:scale-110 transition-all">Delete</button>
            </div>
        </a>
        {{/each}}
        <!-- end individual post -->

        <!-- end search, create and view past posts -->

    </div>

    <!-- viewing and editing posts -->
    <div id="field" class="col-span-9">
        <p>Type up your favorite movie quote or something you're grateful for or that you learned today, make a comment, or do literally none of that.</p>
        <div class="px-6 py-4 flex flex-col">
            <form id="newEntryForm" class="flex flex-col">
                <input class="font-bold text-3xl mb-2 text-gray-900 dark:bg-gray-800 dark:text-gray-300 px-3"
                    placeholder="Title" id="entry-title" name="entry-title" />
                <label for="entry-body"></label>
                <textarea class="text-gray-900 dark:bg-gray-800 dark:text-gray-400 text-base px-3" placeholder="Body"
                    id="entry-body" name="entry-body">
                </textarea>
            </form>
        </div>

        <!-- buttons -->
        <div id="newAndSave"
            class="rounded flex flex-wrap md:grid md:grid-cols-2 md:justify-center bg-gray-100 dark:bg-gray-900 mx-2 my-1">
            <div class="px-2 py-2 mx-auto">
                <a href="../dashboard">
                    <button id="new"
                        class="rounded font-semibold bg-teal-700 text-gray-50 dark:bg-sky-900 dark:text-gray-200 p-2 hover:scale-110 transition-all">
                        Clear
                    </button>
                </a>
            </div>
            <div class="px-2 py-2 mx-auto">
                <button id="save"
                    class="rounded font-semibold bg-teal-700 text-gray-50 dark:bg-sky-900 dark:text-gray-200 p-2 hover:scale-110 transition-all"
                    type="submit">SAVE</button>
            </div>
        </div>

    </div>
    <!-- end viewing and editing posts -->
</div>

<script src="/js/addEntry.js"></script>
<script src="/js/deleteEntry.js"></script>